%section
  %h1 Killer Sign Up Form
  = form_for @lead do |f|
    = f.error_messages
    %p
      = f.label :name
      %br
      = f.text_field  :name
    %p
      = f.label :email
      %br
      = f.text_field :email
    %p.button
      = f.submit "Go"

